/* Share */
body {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ol,
ul {
  padding: 0;
}

/* header */
header {
  width: 100%;
  -webkit-box-shadow: 0px 1px 5px grey;
          box-shadow: 0px 1px 5px grey;
  background-color: white;
}

.header_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 70px;
  width: 300px;
  margin: 0 0 0 60px;
  line-height: 70px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.burger_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}

.language {
  text-align: end;
  padding: 0 10px;
}

.language p {
  margin: 0;
}

.header_group_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_group_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px 30px 0 0;
  padding: 0;
}

.header_group_right ul li {
  margin: 10px 20px;
  text-align: center;
}

.header_group_right ul li h6 {
  margin: 0;
}

.header_group_right ul li p {
  margin: 0;
  font-size: 11pt;
}

.header_community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_community div {
  margin: 0 15px 0 0;
}

.header_community div img {
  height: 38px;
  width: 38px;
}

label {
  width: 35px;
  height: 35px;
  display: none;
}

label img {
  width: 100%;
  height: 100%;
}

.mnue ul {
  display: none;
}

#burger {
  display: none;
}

/* header_hover */
.header_group_right ul :hover {
  color: #006bb8;
  -webkit-box-shadow: 1 1 0;
          box-shadow: 1 1 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* main */
/* footer */
footer {
  -webkit-box-shadow: 0px -1px 5px grey;
          box-shadow: 0px -1px 5px grey;
}

.footer_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo {
  max-height: 130px;
  max-width: 200px;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  margin: 0 0 0 10px;
}

.footer_item ul {
  text-align: center;
  font-size: 11pt;
  list-style: none;
}

.footer_community {
  margin: 0 25px 0 0;
}

.footer_community_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.footer_community_icon div {
  height: 38px;
  width: 38px;
}

.footer_community_icon div img {
  width: 100%;
  height: 100%;
}

.footer_end {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 10pt;
  line-height: 20px;
}

.footer_end p {
  margin: 0 10px;
}

/* footer_rwd  */
@media (max-width: 1024px), print {
  header {
    position: absolute;
    z-index: 1;
  }
  .header_group {
    padding: 10px 0 15px 0;
  }
  .logo {
    line-height: 30px;
  }
  .language {
    top: -25px;
  }
  .header_group_right ul {
    display: none;
  }
  .header_group_right label {
    position: relative;
    top: 10px;
    display: block;
  }
  .header_community div {
    display: none;
  }
  .mnue ul {
    background-color: gainsboro;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 100%;
    top: -400px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .mnue ul h6 {
    margin: 0;
    margin: 0 auto;
    padding: 30px 0;
  }
  #burger:checked + .mnue ul {
    top: 95px;
  }
  main {
    padding-top: 95px;
  }
}

@media (max-width: 720px), print {
  .logo {
    height: 65px;
    width: 80px;
    margin: 0 0 0 15px;
  }
  .language {
    position: relative;
    right: 50px;
    top: 18px;
  }
  .header_group {
    padding: 15px 0;
  }
  .header_group_right label {
    top: -10px;
    right: -18px;
  }
  .footer_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_group .footer_logo {
    margin-bottom: 30px;
  }
  .footer_group .footer_logo img {
    margin: 0;
  }
  .footer_group ul {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer_group .footer_community {
    margin: 0;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style_header&footer.css.map */